body {
    font-family: 'Open Sans', sans-serif;
}

/*header style */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    text-align: center;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
    padding: 200px 900px 300px 240;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
}

.flower-pic {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
}

.flower-item {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

#flower-item-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
}

/*main style*/

.flower-list-info {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#flower-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 200px;
}

#flower-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 200px;
    width: 200px;
}

#flower-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 200px;
    width: 200px;
}

.flower-info-link {
    display: flex;
    justify-content: center;
    gap: 190px;
    text-decoration: underline;
}

/*banner sale post*/
.banner {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
}

.banner-info {
    padding: 100px 0px;
}

#flower-8 {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.social {
    text-align: center;
    font-weight: 400;
}

/*footer style start*/
.footer-img{
    width: 200px;
    height: 200px;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 50px;
}
    
